In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
%cd /content/drive/MyDrive/numpy_&_pandas_intro

/content/drive/MyDrive/numpy_&_pandas_intro

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('movies.csv')
df.head(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.0,NaN
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN

In [4]:
#Checking for missing values
df.isnull().any()
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [5]:
df['RunTime'].value_counts()

24.0     354
60.0     299
30.0     219
23.0     183
25.0     180
        ...
542.0      1
629.0      1
498.0      1
189.0      1
165.0      1
Name: RunTime, Length: 261, dtype: int64

In [6]:
# Drop null values for 'RATING' column
df = df.dropna(axis=0, how='any', subset=['RATING'])
df.isnull().sum()

MOVIES         0
YEAR           0
GENRE         11
RATING         0
ONE-LINE       0
STARS          0
VOTES          0
RunTime     1393
Gross       7719
dtype: int64

In [7]:
#Check for duplicate values
df.duplicated()

#Remove duplicate for the row. keeping the first row
df = df.drop_duplicates()

In [61]:
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [8]:
# Removing commas in the numbers from the "VOTES" column to make it convertable to float.

df["VOTES"] = df["VOTES"].astype(str)
df["VOTES"] = [x.replace(',','') for x in df["VOTES"]]

In [9]:
# convert "VOTES" from string to float
df['VOTES'] = df['VOTES'].astype(float)
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES       float64
RunTime     float64
Gross        object
dtype: object

In [10]:
df.corr()

           RATING     VOTES   RunTime
RATING   1.000000  0.103792 -0.223826
VOTES    0.103792  1.000000  0.143464
RunTime -0.223826  0.143464  1.000000

In [11]:
# Fillna for 'RunTime' column using the mean
x = df['RunTime'].mean()
df['RunTime'].fillna(x, inplace=True)

In [12]:
# Removing '\n' in the numbers from the "GENRE" column.

df["GENRE"] = df["GENRE"].astype(str)
df["GENRE"] = [x.replace('\n','') for x in df["GENRE"]]

In [13]:
# Removing '\n' in the numbers from the "ONE-LINE" column.

df["ONE-LINE"] = df["ONE-LINE"].astype(str)
df["ONE-LINE"] = [x.replace('\n','') for x in df["ONE-LINE"]]

In [14]:
# Removing '\n' in the numbers from the "STARS" column.

df["STARS"] = df["STARS"].astype(str)
df["STARS"] = [x.replace('\n','') for x in df["STARS"]]

In [15]:
df['GENRE'].value_counts()

Comedy                                        740
Animation, Action, Adventure                  601
Documentary                                   444
Drama                                         427
Crime, Drama, Mystery                         292
                                             ...
Action, Mystery, Romance                        1
Short, Crime, Drama                             1
Short, Action, Adventure                        1
Documentary, Animation, Sci-Fi                  1
Documentary, Action, Crime                      1
Name: GENRE, Length: 485, dtype: int64

In [16]:
# Fillna for 'GENRE' column with 'Comedy'
df['GENRE'].fillna('Comedy', inplace=True)

In [17]:
df.isnull().sum()

MOVIES         0
YEAR           0
GENRE          0
RATING         0
ONE-LINE       0
STARS          0
VOTES          0
RunTime        0
Gross       7708
dtype: int64

In [18]:
df['Gross'].value_counts()

$0.01M     22
$0.02M     16
$0.00M     15
$0.03M     10
$0.04M      9
           ..
$37.77M     1
$44.82M     1
$21.36M     1
$54.76M     1
$10.40M     1
Name: Gross, Length: 332, dtype: int64

In [21]:
# Drop 'Gross' column
clean_df = df.drop(['Gross'], axis=1)

In [20]:
clean_df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062.0,121.0
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870.0,25.0
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805.0,44.0
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849.0,23.0
5,Outer Banks,(2020– ),"Action, Crime, Drama",7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cl...",25858.0,50.0